version: '3.9'

services:
  backend:
    build: ./backend
    container_name: inventario_backend
    ports:
      - "5000:5000"
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: inventario_frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - app-network

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins_server
    user: root
    ports:
      - "8081:8080"   # Jenkins UI
      - "50000:50000" # Para agentes
    volumes:
      - ./jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

